page-progdas {
    .warnaButton {
        background-color: #e74c3c;

    }
    .warnaButton1 {
        background-color: #ecf0f1;
        color: black;
    }

    .materiBackgroud {
        padding: 20px 0px 20px 0px;
        background-color: #EBF0F3;
    }


 
}
